<!DOCTYPE html>
<html>
<head>
    <title>Generate Me</title>
    <link rel = "icon" href = "/static/Photos/icon.png" type = "image/x-icon">
    <style>
        #images{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left:50%;
        right:50%;
      }
    </style>
</head>
<body>
      <div id="images">
        <img src="/getLinearImage" alt="User Image" height="100px" width="100px">
      </div>
</body>
</html>